@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600&family=Rethink+Sans:wght@400;500;600&display=swap");

:root {
  --title-font: "Rethink Sans", sans-serif;
  --text-font: "Instrument Sans", sans-serif;

  --title-size: 3.125rem;
  --text-size: 1.5rem;

  --primary-color: #f6f6f6;
  --secundary-color: #e78895;
  --third-color: #ffe4c9;
}
* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 2% 0 0 15%;
  background-color: var(--secundary-color);
}
.header__nav {
  display: flex;
  gap: 3%;
}
.header__nav__links {
  font-family: var(--title-font);
  font-weight: 600;
  text-decoration: none;
  font-size: var(--text-size);
  color: var(--primary-color);
  margin: 0 5px;
  padding: 10px 15px;
}
.header__nav__links:hover {
  text-decoration: underline;
  color: var(--third-color);
}

body {
  background-color: var(--primary-color);
  box-sizing: border-box;
  color: var(--secundary-color);
}

.main__page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 15%;
}
.main__page__section {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.main__page__section__title {
  font-family: var(--title-font);
  font-weight: 600;
  width: 50%;
  font-size: var(--title-size);
  text-align: center;
}
.main__image {
  width: 50%;
}
.aside__page__letter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 15%;
}
.aside__page__section__letter {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}

.aside__page__section__letter__subtitle {
  font-size: var(--title-size);
  font-family: var(--title-font);
  font-weight: 600;
  text-align: center;
  width: 50%;
}
.aside__page__section__letter__text {
  font-family: var(--text-font);
  font-size: var(--text-size);
  text-align: center;
  width: 70%;
}

.aside__page__pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside__page__pictures__img {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.aside__page__pictures__subtitle {
  font-size: var(--title-size);
  font-family: var(--title-font);
  font-weight: 600;
  text-align: center;
  width: 50%;
}
.aside__page__pictures__img__image {
  width: 25%;
}
.footer__page {
  font-family: var(--text-font);
  font-size: var(--text-size);
  padding: 24px;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secundary-color);
  margin-top: 3%;
}
